<div class="ui massive menu icon  blue inverted">
  <a [ngClass]='{disabled:isMonitoring}' class="ui massive icon button item sidebarToggle"><i class='icon bars' id='sidebar-button'></i></a>
  <ng-container *ngIf='currentSession != undefined'>
    <div class="ui header item">ID:{{currentSession.session_id}}</div>
    <div class="ui header item"> Допуск: {{currentSession.tolerance}}</div>
    <button [ngClass]='{disabled:isMonitoring}' class='ui massive button icon item ' (click)='openModalEditSession()'><i
        class='icon pencil'></i></button>
    <div *ngIf='state != "" ' class='ui item header'>Стан: {{state}}</div>
  </ng-container>
  <div class="right menu">
    <button [attr.disabled]='isMonitoring?true:null' class='ui item header item bt-devices'><i [ngClass]='{green: (connectBT && currentConfig!=undefined), red: (!connectBT || currentConfig==undefined)}'
        class='icon bluetooth b'></i></button>
    <div class="ui fluid popup bottom left transition hidden bt-devices-popup">
      <h1>Bluetooth прилади</h1>
      <i class='blue huge x icon' data-content='Top Right' dat-position='top right' (click)='closeBTPopup()'></i>
      <h3 *ngIf='currentConfig!=undefined'>Поточний прилад - {{currentConfig.bt_name}}</h3>
      <div class="ui huge blue button" *ngFor='let BTDevice of currentBTDevices; let i = index' id='{{i}}' (click)='selectBT(BTDevice, i)'>
        <h2>{{BTDevice.name}}</h2>
      </div>
      <div class="ui inverted dimmer ">
        <div class="ui large loader"></div>
      </div>
      <div class='btn-container'>
        <button class='ui massive button blue' (click)='getBT()' tabindex="0">Пошук</button>
        <button class='ui massive button blue' (click)='setBT(currentBTBuffer)' tabindex="0" [attr.disabled]='(currentBTBuffer == undefined || isEmpty(currentBTBuffer))? true : null'>Підтвердити</button>
      </div>

    </div>
  </div>

</div>
<div class="ui dimmer startWaiting">
    <div class="ui large text loader">Зачекайте</div>
</div>
<div class='ui pushable'>
  <div class="ui left blue inline sidebar inverted vertical menu">
    <a class="item ui header sidebarToggle">
      <h1>Меню</h1>
    </a>
    <a class="item ui header sidebarToggle" (click)='openModalArchive()'>
      <h2>Відкрити</h2>
    </a>
    <a class="item ui header sidebarToggle" (click)='openSessionCreation()'>
      <h2>Створити</h2>
    </a>
    <a class="item ui header sidebarToggle" (click)='openSessionDeletion()'>
      <h2>Видалити</h2>
    </a>
    <a class="item ui header sidebarToggle" (click)='openSessionClosing()'>
      <h2>Завершити роботу</h2>
    </a>
    <a class="item ui header sidebarToggle" (click)='openExport()'>
      <h2>Експорт</h2>
    </a>
    <a class="item ui header sidebarToggle" (click)='openMailCreation()'>
      <h2>Пошта</h2>
      <h5 *ngIf='currentConfig==undefined || currentConfig==null '>Додайте электронну пошту</h5>
      <h4 *ngIf='currentConfig!=undefined && currentConfig!=null '>{{currentConfig?.email}}</h4>
    </a>
  </div>
  <div class='pusher'>
    <div class='ui segment'>
      <form *ngIf="targets!=undefined" class='ui form'>
        <div class='fields'>
          <div class="field three  ui  input disabled">
            <input [(ngModel)]="params.x" [ngModelOptions]="{standalone: true}" pattern="[0-9]{1,4}" type="number"
              placeholder="X">
          </div>
          <div class="field three  ui  input disabled">
            <input [(ngModel)]="params.y" [ngModelOptions]="{standalone: true}" pattern="[0-9]{1,4}" type="number"
              placeholder="Y">
          </div>
          <div class="field three  ui  input disabled">
            <input [(ngModel)]="params.h" [ngModelOptions]="{standalone: true}" pattern="[0-9]{1,4}" type="number"
              placeholder="H">
          </div>
          <div class="field three">
            <button class='ui blue button massive' (click)='changeTargetType(params.type)'>{{params.type.slice(0,1) |
              uppercase}}</button>
          </div>
          <div class="field four">
            <button class='ui blue button massive calcTargetButton' (click)='getCoordinates()'>Поміряти</button>
          </div>
          <div class="field four">
            <button class='ui blue button massive addTargetButton' (click)='addTarget()'>Додати</button>
          </div>
        </div>
        <div class='calcTarget errors'><i class='icon exclamation circle'></i>Помилка з вимірами</div>
      </form>

      <table *ngIf="targets!=undefined" class='ui blue small table celled stripped target-table'>
        <thead>
          <tr class='center aligned'>
            <th></th>
            <th>
              <h2>#</h2>
            </th>
            <th>
              <h2>Тип</h2>
            </th>
            <th>
              <h2>X</h2>
            </th>
            <th>
              <h2>Y</h2>
            </th>
            <th>
              <h2>Z</h2>
            </th>
            <th>
              <h2>&#9651;X</h2>
            </th>
            <th>
              <h2>&#9651;Y</h2>
            </th>
            <th>
              <h2>&#9651;Z</h2>
            </th>
            <th>
              <h2>Час</h2>
            </th>
          </tr>

        </thead>
        <tbody>
          <tr class='center aligned' *ngFor='let target of targets' [ngClass]='{error:checkDelta(target)}'>
            <td class="delete-col collapsing">
              <a [ngClass]='{disabled: isMonitoring}' (click)='deleteTarget(target)' class='ui icon button blue'><i
                  class="icon large trash alternate"></i></a>
            </td>
            <td>
              <h3>{{target.target_id}}</h3>
            </td>
            <td>
              <h3>{{target.type}}</h3>
            </td>
            <td>
              <h3>{{target.X0.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.Y0.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.H0.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.dX.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.dY.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.dH.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.last_upd | date:'yyyy.mm.dd hh:mm:ss'}}</h3>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class='ui modal notification'>
  <div class="header">Попередження</div>
  <div class='content'>
    <h3 class='ui header'>Активні сесії відсутні. Створіть нову або оберіть сесію з архіву.</h3>
  </div>
  <div class='actions'>
    <a class='ui massive cancel blue button'>Створити нову сесію</a>
    <a class='ui massive ok button'>Відкрити сесію з архіву</a>
  </div>
</div>

<div class='ui modal history'>
  <div class="header">Архів сесій</div>
  <div class='content'>
    <div class="ui fluid selection dropdown input massive">
      <input type="hidden" name="user">
      <i class="dropdown icon"></i>
      <div class="default text">Оберіть Id сесії</div>
      <div class="menu ">
        <ng-container *ngFor='let archiveSession of archiveSessions'>
          <div class="item" (click)='selectSessionId(archiveSession.session_id)'>
            <h1>{{archiveSession.session_id}} , {{archiveSession.timestamp}}<br>{{archiveSession.description}}</h1>
          </div>
        </ng-container>

      </div>

    </div>

  </div>
  <div class="actions">
    <button *ngIf='currentSession != undefined' class='ui massive cancel button'>Відмінити</button>
    <button [disabled]='selectSessionId == undefined' class='ui massive ok blue button' (click)='openSession()'>Підтвердити</button>
  </div>
</div>

<div class='ui modal creator'>
  <div class="header">Створити нову сесію</div>
  <div class='content'>
    <form class='ui form' [formGroup]="sessionForm" novalidate (submit)='onSubmit()'>
      <!-- <div class='fields'> -->

      <div class="field">
        <label>Допуск</label>
        <input value="0.01" id="dopusk" formControlName='dopusk' (click)='showKeyboard($event, "EN", false, "real", getFormControl(sessionForm.controls.dopusk))' 
          type="number" required>
      </div>
      <div class="field">
        <label>Опис</label>
        <textarea id="description" formControlName='description' (click)='showKeyboard($event, "UA", false, null, getFormControl(sessionForm.controls.description))' rows="1"
          maxlength="50" required></textarea>
      </div>

      <!-- </div> -->
    </form>
  </div>
  <div class="actions">
    <a [ngClass]='{disabled: sessionForm.invalid}' type='submit' class='ui massive ok blue button' class='ui massive ok blue button' (click)='createSession()'>Підтвердити</a>
    <a class='ui massive cancel button'>Відмінити</a>
  </div>
</div>
<div class='ui modal email'>
  <div class="header">Редагування пошти</div>
  <div class='content'>
    <form class='ui form' [formGroup]="userForm" novalidate (submit)='onSubmit()'>

      <div class="field ">
        <label>Електронна пошта отримувача</label>
        <input id="alarmEmail" formControlName='alarmEmail' type="email" (click)='showKeyboard($event, "EN", false, null, getFormControl(userForm.controls.alarmEmail))'>
        <div *ngIf="userForm.controls.alarmEmail.invalid && (userForm.controls.alarmEmail.dirty || userForm.controls.alarmEmail.touched)" class="errors">
            <li *ngIf='userForm.controls.alarmEmail.errors.required'>Обов'язкове поле;</li>
            <li *ngIf='userForm.controls.alarmEmail.errors.pattern'>Помилка формату адресу;</li>
        </div>
      </div>
      <div class='fields'>
        <div class="field eight wide">
          <label>Поштовий сервер</label>
          <input id="mailServer" formControlName='mailServer' type='text' (click)='showKeyboard($event, "EN", false, null, getFormControl(userForm.controls.mailServer))'>
          <div *ngIf="userForm.controls.mailServer.invalid && (userForm.controls.mailServer.dirty || userForm.controls.mailServer.touched)" class="errors">
              <li *ngIf='userForm.controls.mailServer.errors.required'>Обов'язкове поле;</li>
          </div>
        </div>
        <div class="field eight wide">
          <label>SMTP порт</label>
          <input id="mailPort" formControlName='mailPort' type='number' (click)='showKeyboard($event, "EN", false, "number", getFormControl(userForm.controls.mailPort))'>
          <div *ngIf="userForm.controls.mailPort.invalid && (userForm.controls.mailPort.dirty || userForm.controls.mailPort.touched)" class="errors">
              <li *ngIf='userForm.controls.mailPort.errors.required'>Обов'язкове поле;</li>
              <li *ngIf='userForm.controls.mailPort.errors.pattern'>Порт має складатися з трьох цифр.</li>
          </div>
        </div>
      </div>
      <div class='fields'>
        <div class="field eight wide">
          <label>Логін</label>
          <input id="mailLogin" formControlName='mailLogin' type='text' (click)='showKeyboard($event, "EN", false, null, getFormControl(userForm.controls.mailLogin))'>
          <div *ngIf="userForm.controls.mailLogin.invalid && (userForm.controls.mailLogin.dirty || userForm.controls.mailLogin.touched)" class="errors">
              <li *ngIf='userForm.controls.mailLogin.errors.required'>Обов'язкове поле;</li>
          </div>
        </div>
        <div class="field eight wide">
          <label>Пароль</label>
          <input id="mailPassword" formControlName='mailPassword' type='text' type="password" (click)='showKeyboard($event, "EN", false, null, getFormControl(userForm.controls.mailPassword))'>
          <div *ngIf="userForm.controls.mailPassword.invalid && (userForm.controls.mailPassword.dirty || userForm.controls.mailPassword.touched)" class="errors">
              <li *ngIf='userForm.controls.mailPassword.errors.required'>Обов'язкове поле;</li>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="field ">
          <label>SSL</label>
          <input id="mailSsl" type="checkbox">
        </div>
        <div class="field ">
          <label>TLS</label>
          <input id="mailTls" type="checkbox">
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <a [ngClass]='{disabled: userForm.invalid}' type='submit' class='ui massive ok blue button' (click)='editMail()'>Підтвердити</a>
    <a class='ui massive cancel button'>Відмінити</a>
    <!-- <a class='ui cancel button'>Повернутись</a> -->
  </div>
</div>
<div class='ui modal edit session'>
  <div class="header">Редагування допуску</div>
  <div class='content'>
    <form class='ui form' [formGroup]="sessionEditorForm" novalidate (submit)='onSubmit()'>

      <div class="field ">
        <label>Допуск</label>
        <input id="editDopusk" formControlName='dopusk' (click)='showKeyboard($event, "EN", false, "real", getFormControl(sessionEditorForm.controls.dopusk))'  type="number">

      </div>
      <div class="field">
        <label>Опис</label>
        <textarea id="editDescription" formControlName='description' (click)='showKeyboard($event, "UA", false, null, getFormControl(sessionEditorForm.controls.description))' rows="1" maxlength="50" required></textarea>
      </div>

    </form>
  </div>
  <div class="actions">
    <a [ngClass]='{disabled: sessionEditorForm.invalid}' type='submit' class='ui massive ok blue button' (click)='editSession()'>Підтвердити</a>
    <a class='ui massive cancel button'>Відмінити</a>
    <!-- <a class='ui cancel button'>Повернутись</a> -->
  </div>
</div>
<div class='ui modal warning'>
  <div class="header">Змінити поточну сесію</div>
  <div class='content'>
    <h3 class='ui header'>Ви хочете змінити поточну сесію?</h3>
  </div>
  <div class='actions'>
    <a class='ui massive blue ok button' (click)='openOtherSession()'>Продовжити</a>
    <a class='ui massive cancel button'>Відмінити</a>
  </div>
</div>

<div class='ui modal close'>
  <div class="header">Завершення роботи</div>
  <div class='content'>
    <h3 class='ui header'>Ви хочете завершити поточну сесію? Прилад буде вимкнено!</h3>
  </div>
  <div class='actions'>
    <a class='ui massive blue ok button' (click)='closeSession()'>Продовжити</a>
    <a class='ui massive cancel button'>Відмінити</a>
  </div>
</div>

<div class='ui modal confirm'>
  <div class="header">Ви впевнені?</div>
  <div class='content'>
    <h3 class='ui header'>Сесія {{selectedSessionIdDelete}} буде видалена назавжди!</h3>
  </div>
  <div class='actions'>
    <a class='ui massive blue ok button' (click)='deleteSession()'>Продовжити</a>
    <a class='ui massive cancel button'>Відмінити</a>
  </div>
</div>

<div class='ui modal delete'>
  <div class="header">Видалення сесії</div>
  <div class='content'>
    <div class="ui fluid deletion dropdown input massive">

      <i class="dropdown icon"></i>
      <div class="default text">Оберіть Id сесії</div>
      <div class="menu ">
        <ng-container *ngFor='let archiveSession of archiveSessions | filter:selectedSessionId'>
          <div class="item" (click)='selectSessionIdDelete(archiveSession.session_id)'>
            <h1>{{archiveSession.session_id}} , {{archiveSession.timestamp}}<br>{{archiveSession.description}}</h1>
          </div>
        </ng-container>

      </div>

    </div>
  </div>
  <div class='actions'>
    <a class='ui massive blue ok button' (click)='openDeleteConfirm()'>Видалити</a>
    <a class='ui massive cancel button'>Відмінити</a>
  </div>
</div>

<div class='ui modal export'>
  <div class="header">Експорт сесії</div>
  <div class='content'>
    <div class="ui fluid export dropdown input massive">
      
      <i class="dropdown icon"></i>
      <div class="default text">Оберіть Id сесії</div>
      <div class="menu ">
        <ng-container *ngFor='let archiveSession of archiveSessions'>
          <div class="item" (click)='selectSessionIdExport(archiveSession.session_id)'>
            <h1>{{archiveSession.session_id}} , {{archiveSession.timestamp}}<br>{{archiveSession.description}}</h1>
          </div>
        </ng-container>

      </div>

    </div>
  </div>
  <div class='actions'>
    <a class='ui massive blue ok button' id="export" href="#" (click)="exportConfirm($event)" download>Експортувати</a>
    <a class='ui massive cancel button'>Відмінити</a>
  </div>
</div>

<div *ngIf="!isMonitoring && targets!=undefined && targets.length!=0">
  <button class='ui button circular blue massive icon play-button' (click)='runMonitoring()'><i class='icon play'></i></button>
</div>
<div *ngIf="isMonitoring">
  <button class='ui button circular blue massive icon play-button' (click)='stopMonitoring()'><i class='icon stop'></i></button>
</div>

<div class='ui modal keyboard'>
  <div class='content'>
    <div id="container">
      <textarea id="write" rows="6" cols="60" (click)='selectArea($event)'></textarea>
      <ul id="keyboard">
        <li class='letter' *ngFor='let symbol of symbols | onlyNumber: keyboardSettings.isNumber: keyboardSettings.isRealNumber'
          (click)='addChar($event)'>{{symbol
          | shiftSymbol: keyboardSettings.isShift: shiftSymbol: keyboardSettings.isNumber }}</li>
        <ng-container *ngIf='!keyboardSettings.isNumber'>
          <li class='letter' *ngFor='let letter of alphabets[keyboardSettings.currentAlphabet]' (click)='addChar($event)'>{{letter
            | shiftLetter: keyboardSettings.isShift}}</li>
        </ng-container>
        <a *ngIf='keyboardSettings.multipleLanguage && !keyboardSettings.isNumber' class='ui blue huge basic compact button' (click)='changeAlphabet()'>{{keyboardSettings.currentAlphabet}}</a>
        <a *ngIf='!keyboardSettings.isNumber' class='ui blue huge circular basic compact icon button' (click)='toggleShift()'><i
            [ngClass]='{down: keyboardSettings.isShift, up: !keyboardSettings.isShift}' class='icon arrow'></i></a>
        <a class='ui blue huge circular basic compact icon button' (click)='deleteChar($event)'><i class='icon arrow left'></i></a>
        <a [ngClass]='{disabled: keyboardSettings.currentControl.invalid}' class='ui teal huge circular button compact'
          (click)='approveChanges()'>OK</a>
        <a class='ui red huge circular button compact' (click)='cancelChanges()'>Назад</a>
        <li *ngIf='!keyboardSettings.isNumber' class="space" (click)='addWhiteSpace()'>&nbsp;</li>
      </ul>
    </div>
  </div>

</div>