<div class="ui massive menu icon  blue inverted">
  <a class="item sidebarToggle"><i class='ui icon bars' id='sidebar-button'></i></a>
  <ng-container *ngIf='currentSession != undefined'>
    <div class="ui massive header item">ID:{{currentSession.session_id}}</div>
    <div class="ui massive header item"> Допуск: {{currentSession.tolerance}}</div>
    <div class='ui item header item' (click)='openModalEditSession()'><i class='icon pencil'></i></div>
    <div *ngIf='state != "" 'class='ui item header'>Стан: {{state}}</div>
  </ng-container>
  <div class="right menu">
    <div class='ui item header item bt-devices'><i class='icon bluetooth b'></i></div>
    <div class="ui fluid popup bottom left transition hidden bt-devices-popup">
      <h1>Bluetooth прилади</h1>
      <h3 *ngIf='currentConfig!=undefined'>Поточний прилад - {{currentConfig.bt_name}}</h3>
      <div class="ui huge blue label" *ngFor='let BTDevice of currentBTDevices' (click)='selectBT(BTDevice)'>
        <h2>{{BTDevice.name}}</h2>
      </div>
      <div *ngIf='currentConfig!=undefined' class="ui toggle large checkbox">
        <input type="checkbox" name="public" checked>
        <label>
          <h3>Обрати поточний</h3>
        </label>
      </div>
      <div class="ui inverted dimmer ">
        <div class="ui large loader"></div>
      </div>
      <!--<label *ngIf='currentConfig!=undefined'>{{currentConfig.bt_name}}</label>-->
      <div class='btn-container'>
        <button class='ui massive button blue' (click)='getBT()'
          tabindex="0">Пошук</button>
        <button [disabled]='currentBTBuffer == undefined' class='ui massive button blue' (click)='currentBTBuffer!=""?setBT():setBT(currentBTBuffer)'
          tabindex="0">Підтвердити</button>
      </div>

    </div>
  </div>

</div>

<div class='ui pushable'>
  <div class="ui left blue inline sidebar inverted vertical menu">
    <a class="item ui header sidebarToggle">
      <h1>Меню</h1>
    </a>
    <a class="item ui header sidebarToggle" (click)='openModalArchive()'>
      <h2>Відкрити</h2>
    </a>
    <a class="item ui header sidebarToggle" (click)='openSessionCreation()'>
      <h2>Створити</h2>
    </a>
    <a class="item ui header sidebarToggle">
      <h2>Експорт</h2>
    </a>
    <a class="item ui header sidebarToggle" (click)='openMailCreation()'>
      <h2>Пошта</h2>
      <h5 *ngIf='currentConfig==undefined || currentConfig==null '>Додайте электронну пошту</h5>
      <h4 *ngIf='currentConfig!=undefined && currentConfig!=null '>{{currentConfig?.email}}</h4>
    </a>
  </div>
  <div class='pusher'>
    <div class='ui container'>
      <form *ngIf="targets!=undefined" class='ui form'>
        <div class='fields'>
          <div class="field four  ui  input disabled">
            <input [(ngModel)]="params.x" [ngModelOptions]="{standalone: true}" pattern="[0-9]{1,4}" type="number"
              placeholder="X">
          </div>
          <div class="field four  ui  input disabled">
            <input [(ngModel)]="params.y" [ngModelOptions]="{standalone: true}" pattern="[0-9]{1,4}" type="number"
              placeholder="Y">
          </div>
          <div class="field four  ui  input disabled">
            <input [(ngModel)]="params.h" [ngModelOptions]="{standalone: true}" pattern="[0-9]{1,4}" type="number"
              placeholder="H">
          </div>

          <div class="field four">
            <button class='ui blue button massive' (click)='getCoordinates()'>Поміряти</button>
          </div>
          <div class="field four">
            <button class='ui blue button massive' (click)='addTarget()'>Додати</button>
          </div>
        </div>
      </form>

      <table *ngIf="targets!=undefined" class='ui blue large table celled stripped target-table'>
        <thead>
          <tr class='center aligned'>
            <th></th>
            <th>
              <h2>#</h2>
            </th>
            <th>
              <h2>X</h2>
            </th>
            <th>
              <h2>Y</h2>
            </th>
            <th>
              <h2>Z</h2>
            </th>
            <th>
              <h2>&#9651;X</h2>
            </th>
            <th>
              <h2>&#9651;Y</h2>
            </th>
            <th>
              <h2>&#9651;Z</h2>
            </th>
            <th>
              <h2>Час</h2>
            </th>
          </tr>

        </thead>
        <tbody>
          <tr class='center aligned' *ngFor='let target of targets' [ngClass]='{error:checkDelta(target)}'>
            <td class="delete-col collapsing" (click)='deleteTarget(target)'>
              <i class="icon large trash alternate"></i>
              <!--<div class='ui button massive blue icon'><i class="icon pencil alternate"></i></div>-->
              <!--<div class='ui button huge blue icon' (click)='deleteTarget(target)'><i class="icon trash alternate"></i></div>-->
            </td>
            <td>
              <h3>{{target.target_id}}</h3>
            </td>
            <td>
              <h3>{{target.X0.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.Y0.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.H0.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.dX.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.dY.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.dH.toFixed(4)}}</h3>
            </td>
            <td>
              <h3>{{target.last_upd | date:'short'}}</h3>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class='ui modal notification'>
  <div class="header">Попередження</div>
  <div class='content'>
    <h3 class='ui header'>Активні сесії відсутні. Створіть нову або оберіть сесію з архіву.</h3>
  </div>
  <div class='actions'>
    <a class='ui massive cancel blue button'>Створити нову сесію</a>
    <a class='ui massive ok button'>Відкрити сесію з архіву</a>
  </div>
</div>

<div class='ui modal history'>
  <div class="header">Архів сесій</div>
  <div class='content'>
    <div class="ui fluid selection dropdown input massive">
      <input type="hidden" name="user">
      <i class="dropdown icon"></i>
      <div class="default text">Оберіть Id сесії</div>
      <div class="menu ">
        <ng-container *ngFor='let archiveSession of archiveSessions'>
          <div class="item" (click)='selectSessionId(archiveSession.session_id)'>
            <h1>{{archiveSession.session_id}}</h1>
          </div>
        </ng-container>

      </div>

    </div>

  </div>
  <div class="actions">
    <button [disabled]='selectSessionId == undefined' class='ui massive ok blue button' (click)='openSession()'>Підтвердити</button>
  </div>
</div>

<div class='ui modal creator'>
  <div class="header">Створити нову сесію</div>
  <div class='content'>
    <form class='ui form'>
      <div class='fields'>

        <div class="field eight wide ui input massive"><input id="dopusk" placeholder='Допуск'></div>


      </div>
    </form>
  </div>
  <div class="actions">
    <a class='ui massive ok blue button' (click)='createSession()'>Підтвердити</a>
    <!-- <a class='ui cancel button'>Повернутись</a> -->
  </div>
</div>
<div class='ui modal email'>
  <div class="header">Редагування пошти</div>
  <div class='content'>
    <form class='ui form'>
      <div class='fields'>
        <div class="field ten wide ui input massive"><input id="alarmEmail" type="email" placeholder='Електронна пошта'
            required></div>
      </div>
    </form>
  </div>
  <div class="actions">
    <a class='ui massive ok blue button' (click)='editMail()'>Підтвердити</a>
    <!-- <a class='ui cancel button'>Повернутись</a> -->
  </div>
</div>
<div class='ui modal edit session'>
  <div class="header">Редагування допуску</div>
  <div class='content'>
    <form class='ui form'>
      <div class='fields'>

        <div class="field eight wide ui input massive">
          <input id="editDopusk" pattern="[0-9]{1,4}" type="number" placeholder='Допуск'>

        </div>

      </div>
    </form>
  </div>
  <div class="actions">
    <a class='ui massive ok blue button' (click)='editSession()'>Підтвердити</a>
    <!-- <a class='ui cancel button'>Повернутись</a> -->
  </div>
</div>
<div *ngIf="!isMonitoring && targets!=undefined && targets.length!=0">
  <button class='ui button circular blue massive icon play-button' (click)='runMonitoring()'><i class='icon play'></i></button>
</div>
<div *ngIf="isMonitoring">
  <button class='ui button circular blue massive icon play-button' (click)='stopMonitoring()'><i class='icon stop'></i></button>
</div>