/* You can add global styles to this file, and also import other style files */

.play-button {
    position: fixed;
    bottom: 10px;
    right: 8px;
    z-index: 1000;
}

/**body ::-webkit-scrollbar {
    width: 50px!important;
}**/

[type=submit] {
    -webkit-appearance: none !important;
}

textarea,
input {
    font-size: 1.28571429rem !important;
    font-weight: bold !important;
    color: #444 !important;
}
body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px!important;
    height: 20px!important;
}
.ui.dropdown .menu{
    width: 100%;
}
.ui.popup:before{
    display: none;
}
.delete-col {
    background: #2185d0;
    color: white;
    padding: 0;
}

.delete-col .ui.button {
    padding: 0;
}

.fields img{
    height: 62px;
    cursor: pointer;
    width: auto;
    padding: .2em .1em;
}

.bt-wifi-popup ,.bt-devices-popup {
    width: calc(100% - 100px) !important;
    right: 50px !important;
    height: calc(100% - 100px);
}

.bt-wifi-popup .label, .bt-devices-popup .label {
    margin: .1em .1285714em !important;
}

.bt-wifi-popup .ui.toggle, .bt-devices-popup .ui.toggle {
    margin-top: .5em;
    display: block;
    margin-bottom: 1.5em;
}

.bt-wifi-popup h3, .bt-devices-popup h3 {
    margin-top: .5em;
}

.bt-wifi-popup .btn-container, .bt-devices-popup .btn-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.bt-wifi-popup .x.icon, .bt-devices-popup .x.icon {
    position: absolute;
    top: 10px;
    right: 5px;
}

.bt-wifi-popup .ui.basic.label, .bt-wifi-popup .ui.form{
    margin-top: 10px; 
}
.bt-wifi-popup .ui.form{
    overflow: hidden;
}
.ui.menu {
    margin: 0 !important;
}

.ui.table.target-table td.error,
.ui.table.target-table tr.error {
    background-color: #db2828 !important;
    color: aliceblue !important;
}
.ui.table.target-table tr.updated:not(.error){
    color: goldenrod !important;
}
.ui.table.target-table tr.updated.error{
    color: gold !important;
}
.ui.segment {
    border: none !important;
    box-shadow: none !important;
    padding: .5rem 1rem !important;
}

.ui.table {
    margin: 0 !important;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 55px;
    width: 55px !important;
    border-radius: 5px;
    border: 1px solid rgba(34, 36, 38, .15)
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 35%;
    top: 10%;
    width: 30%;
    height: 50%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"]:checked {
    background: #2185d0;
}

input[type=checkbox]:checked:after {
    display: block;
}

table th {
    padding: .6em !important;
}

#container .ui.button {
    margin: .5em 1px;
}

.ui.modal.keyboard {
    margin-top: 0 !important;
}

.ui.modal.keyboard .content {
    height: 550px;
}

/**virtual keyboard**/

#container {
    transition: 1s linear;
    position: relative;
    width: 800px;
}

#write {
    border: 1px solid #85b7d9 !important;
    /*margin: 0 107px;*/
    padding: 5px;
    width: 800px;
    height: 120px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard {
    width: 800px;
    padding: 7px 25px;
    background: #eee;
    height: auto;
    position: fixed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    list-style: none;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 52px;
    height: 56px;
    font-size: 19px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #444 !important;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.capslock,
.tab,
.left-shift {
    clear: left;
}

#keyboard .space {
    clear: left;
    width: 100%;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

.calcTarget {
    display: none;
}

.calcTarget.visible {
    display: block;
}

.errors {
    color: #912d2b;
    font-weight: bold
}

.errors li {
    display: inline-block;
}

.ui.form .inline.fields {
    margin: 0 !important;
}

/**Scrollable table**/

.table tbody {
    display: block;
    max-height: 375px;
    overflow-y: auto;
    overflow-x: visible;
}

.table tbody.fullWidth {
    max-height: 520px;
}

.table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.ui.table td {
    width: auto;
    padding: 0 !important;
}

tr.mobile-only{
    display: none;
}
.target-type{
    min-width: 91px;
    display: flex;
    justify-content: center;
    background-color: #2185d0;
    border-radius: .28571429rem;
    /* padding: 0 0.1em; */
}
@media screen and (max-width: 1100px) {
    .ui.table tr>td:first-child,
    .ui.table tr>th:first-child,
    .ui.table tr>td:nth-child(2),
    .ui.table tr>th:nth-child(2),
    .ui.table tr>td:nth-child(3),
    .ui.table tr>th:nth-child(3) {
        width: 70px !important;
    }
    .ui.table tr>td:nth-child(4),
    .ui.table tr>th:nth-child(4),
    .ui.table tr>td:nth-child(5),
    .ui.table tr>th:nth-child(5),
    .ui.table tr>td:nth-child(6),
    .ui.table tr>th:nth-child(6),
    .ui.table tr>td:nth-child(7),
    .ui.table tr>th:nth-child(7),
    .ui.table tr>td:nth-child(8),
    .ui.table tr>th:nth-child(8),
    .ui.table tr>td:nth-child(9),
    .ui.table tr>th:nth-child(9) {
        width: 90px !important;
    }
}
.session-id-movile, .tolerance-mobile{
    display: none;
}
.ui.sidebar{
    height: 100vh;
}
@media only screen and (max-width: 767px){
    tr.mobile-only{
        display: table;
    }
    .session-id, .tolerance{
        display: none!important;
    }
    .session-id-movile, .tolerance-mobile{
        display: block!important;
    }
    .ui.table thead{
        display: none !important;
    }
    .ui.segmant table tr{
        display: table-row!important;
    }
    .ui.form .fields>.field {
        margin-bottom: 5px!important;
    }
    .ui.form .fields>.field:not(.btn){
        width: 100%;
    }
    .ui.form .fields>.field.btn button{
        padding-right: 8px;
        padding-left:  8px;
        margin: 1px;
    }
    app-main .ui.menu{
        display: block!important;
    }
    app-main .ui.menu>.right.menu, app-main .ui.menu>.right.menu .ui.item{
        display: inline-block!important;
    }
    app-main .ui.menu>.ui.item{
        display: inline-block;
    }

    .bt-wifi-popup ,.bt-devices-popup {
        width: 90% !important;
        right: 5px !important;
        height: 450px;
    }
    .bt-wifi-popup h1,.bt-devices-popup h1{
        font-size: 20px;
    }
    .bt-wifi-popup .icon,.bt-devices-popup .icon{
        font-size: 2.5em!important;
    }
    .bt-wifi-popup .ui.button,.bt-devices-popup .ui.button, .bt-wifi-popup .ui.label,.bt-devices-popup .ui.label {
        padding-right: 15px;
        padding-left:  15px;
        margin: 1px;
    }
    
}
